
h1 {color: rgb(64, 83, 99);
    text-align: center;
    line-height: 60px;}
h2 {color: rgb(145, 198, 227);
}
p {width:80%;
}
.right-align {text-align:right;
}
.right-margin {padding-left:400px;
}
body {background-color: rgb(231, 234, 237);
    padding-left:75px;
    font-family: 'Quicksand', sans-serif;
}
